#Pandas - Data Cleaning
1. Renaming Columns
2. Re-aranging columnn order
3. Checking the Data type of the sopecific columns
4. Removing text from columns
5. Dealing with missing data
6. Chaning data types
7. Replacing Text from column data
8.. String Operations of column
9. Removng Columns
10. Dropping columns

Link: https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/amazon_fires.csv

## 1. Import Packages and Load the data set

In [2]:
import pandas as pd

link = 'https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/amazon_fires.csv'
df = pd.read_csv(link, encoding = 'ISO-8859-1')
df.head()

    ano      mes estado   numero  encontro
0  1998  Janeiro   Acre  0 Fires  1/1/1998
1  1999  Janeiro   Acre  0 Fires  1/1/1999
2  2000  Janeiro   Acre  0 Fires  1/1/2000
3  2001  Janeiro   Acre  0 Fires  1/1/2001
4  2002  Janeiro   Acre  0 Fires  1/1/2002

## Renaming column names

In [3]:
new_columns ={'ano':'year',
              'estado':'state',
              'mes':'month',
              'numero':'number_of_fires',
              'encontro':'date'}

In [4]:
def col_rename(new_columns):
  df.rename(columns= new_columns,inplace=True)
  return df.head()

df = col_rename(new_columns)
df.head()

   year    month state number_of_fires      date
0  1998  Janeiro  Acre         0 Fires  1/1/1998
1  1999  Janeiro  Acre         0 Fires  1/1/1999
2  2000  Janeiro  Acre         0 Fires  1/1/2000
3  2001  Janeiro  Acre         0 Fires  1/1/2001
4  2002  Janeiro  Acre         0 Fires  1/1/2002

## How manay regions are in the datasets?

In [5]:
df.state.unique()

array(['Acre'], dtype=object)

In [6]:
df.columns

Index(['year', 'month', 'state', 'number_of_fires', 'date'], dtype='object')

## Excploare the Data types of dataframe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             5 non-null      int64
 1   month            5 non-null      object
 2   state            5 non-null      object
 3   number_of_fires  5 non-null      object
 4   date             5 non-null      object
dtypes: int64(1), object(4)
memory usage: 328.0+ bytes

In [8]:
df.dtypes

year                int64
month              object
state              object
number_of_fires    object
date               object
dtype: object

## Rearrange the order of columns

In [9]:
original_order = [0,1,2,3,4]
df[df.columns[original_order]]

   year    month state number_of_fires      date
0  1998  Janeiro  Acre         0 Fires  1/1/1998
1  1999  Janeiro  Acre         0 Fires  1/1/1999
2  2000  Janeiro  Acre         0 Fires  1/1/2000
3  2001  Janeiro  Acre         0 Fires  1/1/2001
4  2002  Janeiro  Acre         0 Fires  1/1/2002

In [10]:
# rarrange order to -> date, month, year, state, number_of _fires
new_order = [4,1,0,2,3]
df= df[df.columns[new_order]]
df

       date    month  year state number_of_fires
0  1/1/1998  Janeiro  1998  Acre         0 Fires
1  1/1/1999  Janeiro  1999  Acre         0 Fires
2  1/1/2000  Janeiro  2000  Acre         0 Fires
3  1/1/2001  Janeiro  2001  Acre         0 Fires
4  1/1/2002  Janeiro  2002  Acre         0 Fires

## Determining if a column is numeric data or not?

In [11]:
df['number_of_fires'].str.isnumeric()

0    False
1    False
2    False
3    False
4    False
Name: number_of_fires, dtype: bool

In [12]:
df[df['number_of_fires'].str.isdigit()]

Empty DataFrame
Columns: [date, month, year, state, number_of_fires]
Index: []



> `str.isdigit` only rreturns True for string containig soley digits 0-9,

> `str.isnumeric` return true if it contains any numeric char eg: '1\2'


* We get value error as iddigit() returns Nan for blank or missing values,
* To fix this we need to convert column datatype from non null object to a string.

### Replacing NaN/NA in number of fires

In [13]:
df.number_of_fires = df.number_of_fires.str.strip(" Fires")
df.head()

       date    month  year state number_of_fires
0  1/1/1998  Janeiro  1998  Acre               0
1  1/1/1999  Janeiro  1999  Acre               0
2  1/1/2000  Janeiro  2000  Acre               0
3  1/1/2001  Janeiro  2001  Acre               0
4  1/1/2002  Janeiro  2002  Acre               0

In [14]:
df.number_of_fires.dtype

dtype('O')

# Handling missing value Data

### Replacing blank data with 0 and converting datatype to float

In [15]:
df.isnull().sum()

date               0
month              0
year               0
state              0
number_of_fires    0
dtype: int64



> Method 1

In [16]:
df.number_of_fires = df.number_of_fires.str.replace('','0')
df.isnull().sum()

date               0
month              0
year               0
state              0
number_of_fires    0
dtype: int64

In [17]:
df.dtypes

date               object
month              object
year                int64
state              object
number_of_fires    object
dtype: object



> Method 2

In [228]:
link = 'https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/amazon_fires.csv'
def df_call():
  df = pd.read_csv(link, encoding = 'ISO-8859-1')
  df = col_rename(new_columns)
  return df

In [229]:
df = df_call()

In [ ]:
df.dropna()




What to do?
1. Drop null values -> .dropna(axis=0)
2. Replace them with some arbitary numbers(ex: average)
3. Replace them with zeros / forward fill(ffill) or Backfill(bfill)
- pad / ffill: propagate last valid observation forward to next valid
  - backfill / bfill: use next valid observation to fill gap.

> Method-3 : replacing with zeros

In [18]:
df.number_of_fires.fillna(0).head()

0    000
1    000
2    000
3    000
4    000
Name: number_of_fires, dtype: object

In [19]:
df.number_of_fires = df.number_of_fires.fillna(0)

In [232]:
df.isnull().sum()

date               0
month              0
year               0
state              0
number_of_fires    0
dtype: int64



> Method-4 filling with back fill()

In [233]:
df.number_of_fires.fillna(method='backfill').head()

0    000
1    000
2    000
3    000
4    000
Name: number_of_fires, dtype: object

In [150]:
df.number_of_fires.fillna(method='ffill').head()

0    000
1    000
2    000
3    000
4    000
Name: number_of_fires, dtype: object

In [20]:
df.number_of_fires = df.number_of_fires.str.replace('','0').astype('float')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             5 non-null      object
 1   month            5 non-null      object
 2   year             5 non-null      int64
 3   state            5 non-null      object
 4   number_of_fires  5 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 328.0+ bytes

In [22]:
df

       date    month  year state  number_of_fires
0  1/1/1998  Janeiro  1998  Acre              0.0
1  1/1/1999  Janeiro  1999  Acre              0.0
2  1/1/2000  Janeiro  2000  Acre              0.0
3  1/1/2001  Janeiro  2001  Acre              0.0
4  1/1/2002  Janeiro  2002  Acre              0.0

## Replacing text entries from column

In [23]:
# Let's convert our Portuguese month names to English

month_translations = {'Janeiro': 'January',
'Fevereiro': 'February',
'Março': 'March',
'Abril': 'April',
'Maio': 'May',
'Junho': 'June',
'Julho': 'July',
'Agosto': 'August',
'Setembro': 'September',
'Outubro': 'October',
'Novembro': 'November',
'Dezembro': 'December'}

In [24]:
df['month'] = df['month'].map(month_translations)
df

       date    month  year state  number_of_fires
0  1/1/1998  January  1998  Acre              0.0
1  1/1/1999  January  1999  Acre              0.0
2  1/1/2000  January  2000  Acre              0.0
3  1/1/2001  January  2001  Acre              0.0
4  1/1/2002  January  2002  Acre              0.0

In [25]:
df.state = df.state.str.title()

In [26]:
df.state

0    Acre
1    Acre
2    Acre
3    Acre
4    Acre
Name: state, dtype: object